Repository dappforce/dappforce-subsocial-offchain, pull requests merged in 2020-12, with the labels that each got.

#110 Improve ElasticSearch reindexer
  localhost.env
  src/search/config.ts
  src/search/indexer.ts
  src/search/reindexer.ts
  yarn.lock
Labels: elastic, performance

#114 Replace $ with :named params in SQL queries (yesql)
  package.json
  src/connections/postgres.ts
  src/postgres/deletes/deleteAccountFollower.ts
  src/postgres/deletes/deleteCommentFollower.ts
  src/postgres/deletes/deleteNotificationsAboutAccount.ts
  src/postgres/deletes/deleteNotificationsAboutComment.ts
  src/postgres/deletes/deleteNotificationsAboutPost.ts
  src/postgres/deletes/deleteNotificationsAboutSpace.ts
  src/postgres/deletes/deletePostFollower.ts
  src/postgres/deletes/deleteSpaceFollower.ts
  src/postgres/fills/fillNewsFeedWithAccountFollowers.ts
  src/postgres/fills/fillNewsFeedWithSpaceFollowers.ts
  src/postgres/fills/fillNotificationsWithAccountFollowers.ts
  src/postgres/fills/fillNotificationsWithCommentFollowers.ts
  src/postgres/fills/fillNotificationsWithPostFollowers.ts
  src/postgres/fills/fillTableQueries.ts
  src/postgres/inserts/insertAccountFollower.ts
  src/postgres/inserts/insertActivityForAccount.ts
  src/postgres/inserts/insertActivityForComment.ts
  src/postgres/inserts/insertActivityForCommentReaction.ts
  src/postgres/inserts/insertActivityForPost.ts
  src/postgres/inserts/insertActivityForPostReaction.ts
  src/postgres/inserts/insertActivityForSpace.ts
  src/postgres/inserts/insertCommentFollower.ts
  src/postgres/inserts/insertNotificationForOwner.ts
  src/postgres/inserts/insertPostFollower.ts
  src/postgres/inserts/insertSpaceFollower.ts
  src/postgres/selects/getAggregationCount.ts
  src/postgres/selects/getCountOfUnreadNotifications.ts
  src/postgres/types/deleteAccountFollower.queries.ts
  src/postgres/types/deleteCommentFollower.queries.ts
  src/postgres/types/deleteNotificationsAboutAccount.queries.ts
  src/postgres/types/deleteNotificationsAboutComment.queries.ts
  src/postgres/types/deleteNotificationsAboutPost.queries.ts
  src/postgres/types/deleteNotificationsAboutSpace.queries.ts
  src/postgres/types/deletePostFollower.queries.ts
  src/postgres/types/deleteSpaceFollower.queries.ts
  src/postgres/types/fillNewsFeedWithAccountFollowers.queries.ts
  src/postgres/types/fillNewsFeedWithSpaceFollowers.queries.ts
  src/postgres/types/fillNotificationsWithAccountFollowers.queries.ts
  src/postgres/types/fillNotificationsWithCommentFollowers.queries.ts
  src/postgres/types/fillNotificationsWithPostFollowers.queries.ts
  src/postgres/types/getAggregationCount.queries.ts
  src/postgres/types/getCountOfUnreadNotifications.queries.ts
  src/postgres/types/insertAccountFollower.queries.ts
  src/postgres/types/insertActivityForAccount.queries.ts
  src/postgres/types/insertActivityForComment.queries.ts
  src/postgres/types/insertActivityForCommentReaction.queries.ts
  src/postgres/types/insertActivityForPost.queries.ts
  src/postgres/types/insertActivityForPostReaction.queries.ts
  src/postgres/types/insertActivityForSpace.queries.ts
  src/postgres/types/insertCommentFollower.queries.ts
  src/postgres/types/insertNotificationForOwner.queries.ts
  src/postgres/types/insertPostFollower.queries.ts
  src/postgres/types/insertSpaceFollower.queries.ts
  src/postgres/updates/markAllNotifsAsRead.ts
  src/postgres/utils.ts
  test/compare-data.ts
  yarn.lock
Labels: postgres

#115 Add notifications counter
  package.json
  src/express-api/events.ts
  src/express-api/handlers/pgHandlers.ts
  src/express-api/server.ts
  src/express-api/ws.ts
  src/postgres/event-handlers/CommentCreated.ts
  src/postgres/event-handlers/CommentReactionCreated.ts
  src/postgres/fills/fillNotificationsWithPostFollowers.ts
  src/postgres/inserts/insertActivityForPostReaction.ts
  src/postgres/inserts/insertNonce.ts
  src/postgres/inserts/insertSessionKey.ts
  src/postgres/selects/getCountOfUnreadNotifications.ts
  src/postgres/selects/getNonce.ts
  src/postgres/selects/getSessionKey.ts
  src/postgres/types/addSessionKey.queries.ts
  src/postgres/types/getSessionKey.querys.ts
  src/postgres/types/sessionKey.ts
  src/postgres/updates/markAllNotifsAsRead.ts
  src/postgres/updates/updateCountOfUnreadNotifications.ts
  src/postgres/updates/updateNonce.ts
  src/postgres/utils.ts
  src/sql/initDb.sql
  src/substrate/subscribe.ts
  yarn.lock
Labels: new feature, postgres
